/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#ri{
  /*background-color: #ffffe6;*/
  /*position:fixed;
  bottom:0;*/
  font-size: 35px;
  /*text-indent: 60px;*/
  color: #d66e5c;
  margin: auto;
  text-align: center;
}
body{
  /*background-image: url("http://espritmdr.com/media/uploads/img/thumbnail/1400/937/eo2i1of17h.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 100%;*/
  height:900px;
}
/*img {
  position: relative;
  z-index: -1;
  float: left;

}*/
.flexbox{
  display:flex;
  flex-direction: column;
  width:480px;
  margin: 0 auto;
}
.title{
  margin:0;
}
.date{
  margin:0;
  font-size: 12px;
}
#signInLinks{
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  height:30px;
  text-align: center;
}
.yields{
  /*border: solid 1px black;*/
  width: 480px;
  height: 500px;
  text-align: left;
  background-color: clear;
  /*display:block;*/
  min-height: 50%;
  margin: 0 auto;
  /*padding-top: 100px;*/
  /*margin-top: 20%;*/
}
button{
  background-color: lightgrey;
  border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc9f82;
    margin: auto;
}

li {
    float: left;
    margin: auto;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.page_info{
  color:darkred;
}
