/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#ri{
  font-size: 90px;
  color: #d66e5c;
  margin: 0 auto;
  margin-top: -80px;
  text-align: center;
  transform:perspective(400px) rotateX(65deg);
}
body{
  background-repeat: no-repeat;
  background-position: center;
  height:900px;
  text-align: center;
}
.flexbox{
  display:flex;
  flex-direction: column;
  width:480px;
  margin: 0 auto;
}
.title{
  margin:0;
  font-size: 20px;
  vertical-align: top;
  display: inline-block;
}
.date{
  margin:0;
  font-size: 12px;
}
#comments{
  height: 400px;
}
#racquetball{
  width:26px;
  display: inline-block;
}
#ballAndTitle{
  display: block;
  height:26px;
}
h1{
  margin-top: 0;
}
#signInLinks{
  display: block;
  margin: 0 auto;
  height:30px;
  text-align: center;
  padding-top: 50px;
}
.yields{
  width: 480px;
  height: 500px;
  text-align: left;
  background-color: clear;
  min-height: 50%;
  margin: 0 auto;
}

#playersIndexTitle{
  text-align: center;
  color: darkblue;
  font-size: 20px;
}
#bouncingBall{
  width:6px;
  opacity: .3;
}
button{
  background-color: lightgrey;
  border-radius: 5px;
}
#profileTitleStyle{
  font-size: 20px;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: clear;
    transform:perspective(400px) rotateX(65deg);
}

li {
    float: left;
    margin: 20px 26px;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    font-size: 24px;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
    border-radius: 5px;
    padding:0;
}
.page_info{
  color:darkred;
  padding-top: 7px;
}
